body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
div#Coins{
    float:right
}

div#completeText{
    float:left
}

div#outText{
    float:left
}
div#sum{
    float:left
}
.UserCoin{
    margin-top:5px;
    height:80px;
    width:80px;
}
    .UserCoin:hover{
        transform:scale(1.2);
    }
.AdminCoin {
    height: 50px;
}  

.BuyButton {
    height: 100px;
    width: 100px;
}
    .BuyButton:hover {
        transform: scale(1.2);
    }

.InfoBlock{
    text-align:center;
}